In [12]:
import pandas as pd
# More data https://datasetsearch.research.google.com/
archivo  = 'ir_ten_years.xls'      #https://fred.stlouisfed.org/series/IRLTLT01EZA156N
archivo2 = 'estat_tps00203_en.csv' #https://data.europa.eu/data/datasets/5wwzzynxik3astazdxagg?locale=en
archivo3 = 'income_percapita_12months.csv' #https://data-seattlecitygis.opendata.arcgis.com/datasets/SeattleCityGIS::per-capita-income-and-aggregate-income-in-the-past-12-months-in-inflation-adjusted-dollars/explore
tenyears =  pd.read_excel(archivo)
# tenyears
percapita   = pd.read_csv(archivo3)
# estat
percapita.sort_values(by='Total Population').head()

,OBJECTID,GEOID,Tract Name,Total Population,Aggregate income in the past 12 months (in inflation-adjusted dollars),Per capita income in the past 12 months (in inflation-adjusted dollars),ACS Vintage,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,Community Reporting Area Neighborhoods,Tract Label
244,245,53033023702,"Census Tract 237.02, King County, Washington",377,32902400,87274,5Y20,King County Balance,NaN,NaN,NaN,NaN,237.02
1532,1930,53033023702,"Census Tract 237.02, King County, Washington",831,73907800,88938,5Y21,King County Balance,NaN,NaN,NaN,NaN,237.02
2026,2424,53033023702,Census Tract 237.02; King County; Washington,1022,98256600,96141,5Y22,King County Balance,NaN,NaN,NaN,NaN,237.02
1007,1405,53033010900,"Census Tract 109, King County, Washington",1055,33776000,32015,5Y15,Seattle,3.2,3.0,Georgetown,Georgetown,109.00
158,159,53033010900,"Census Tract 109, King County, Washington",1070,48669600,45486,5Y20,Seattle,3.2,3.0,Georgetown,Georgetown,109.00

# Inspecting the dataframe

In [17]:
# First five lines
percapita.head() # Change the output with .head(3)
# Last five lines
percapita.tail() # Change the output with .tail(4)
# NUmber or rows
len(percapita)
# Number of rows and columns
percapita.shape
# Total number of cells
percapita.size
# Data type per column
percapita.dtypes
# Row information
percapita.iloc[34] # This returns a new ofbject called Series

OBJECTID                                                                                                                  35
GEOID                                                                                                            53033002900
Tract Name                                                                          Census Tract 29, King County, Washington
Total Population                                                                                                        4744
Aggregate income in the past 12 months (in inflation-adjusted dollars)                                             301014400
Per capita income in the past 12 months (in inflation-adjusted dollars)                                                63452
ACS Vintage                                                                                                             5Y20
Jurisdiction                                                                                                         Seattle
Community Reporting Area ID                                                                                              9.3
Community Reporting Area Group                                                                                           9.0
Community Reporting Area Name                                                                        Greenwood/Phinney Ridge
Community Reporting Area Neighborhoods                                     Greenwood, Phinney Ridge, Woodland Park, Crown...
Tract Label                                                                                                             29.0
Name: 34, dtype: object

# New Index

In [20]:
# New dataframe
jurisdiction = pd.read_csv(archivo3, index_col='Jurisdiction')
# Select rows by index
jurisdiction.loc['Seattle']
jurisdiction.sort_values(by='Per capita income in the past 12 months (in inflation-adjusted dollars)', ascending= False).head()

,OBJECTID,GEOID,Tract Name,Total Population,Aggregate income in the past 12 months (in inflation-adjusted dollars),Per capita income in the past 12 months (in inflation-adjusted dollars),ACS Vintage,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,Community Reporting Area Neighborhoods,Tract Label
Jurisdiction,,,,,,,,,,,,
King County Balance,2434,53033024100,Census Tract 241; King County; Washington,4711,827073500,175562,5Y22,NaN,NaN,NaN,NaN,241.00
Seattle,2265,53033006300,Census Tract 63; King County; Washington,5709,952481100,166839,5Y22,6.5,6.0,Madison Park,"Madison Park, Broadmoor, Washington Park, Harr...",63.00
King County Balance,2431,53033023902,Census Tract 239.02; King County; Washington,2764,435325600,157498,5Y22,NaN,NaN,NaN,NaN,239.02
King County Balance,2435,53033024200,Census Tract 242; King County; Washington,2923,456350700,156124,5Y22,NaN,NaN,NaN,NaN,242.00
King County Balance,1940,53033024100,"Census Tract 241, King County, Washington",4807,736465700,153207,5Y21,NaN,NaN,NaN,NaN,241.00